body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../upload_File_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:205px;
    top:126px;
    width:797px;
    height:550px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:803px;
    height:556px;
}

.u1 {
    position:absolute;
    left:2px;
    top:267px;
    width:793px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../upload_File_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:8px;
    top:3px;
    width:993px;
    height:100px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:999px;
    height:106px;
}

.u3 {
    position:absolute;
    left:2px;
    top:39px;
    width:989px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../upload_File_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:8px;
    top:126px;
    width:180px;
    height:550px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:556px;
}

.u5 {
    position:absolute;
    left:2px;
    top:267px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_line {
    background-image: url('../upload_File_files/u6_line.png');
}

.u6_line {
    position:absolute;
    left:0px;
    top:4px;
    width:993px;
    height:3px;
}

.u6 {
    position:absolute;
    left:8px;
    top:116px;
    width:993px;
    height:10px;
    
}

.u7 {
    position:absolute;
    left:14px;
    top:138px;
    width:166px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#338BB8;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u8_normal {
    background-image: url('../upload_File_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:908px;
    top:31px;
    width:16px;
    height:16px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u9 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:933px;
    top:31px;
    width:68px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../upload_File_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:696px;
    top:31px;
    width:16px;
    height:16px;
}

#u11_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u12 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../upload_File_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:812px;
    top:31px;
    width:16px;
    height:16px;
}

#u13_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u14 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:838px;
    top:31px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:722px;
    top:31px;
    width:88px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:218px;
    top:142px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_line {
    background-image: url('../upload_File_files/u18_line.png');
}

.u18_line {
    position:absolute;
    left:0px;
    top:4px;
    width:796px;
    height:3px;
}

.u18 {
    position:absolute;
    left:205px;
    top:174px;
    width:796px;
    height:10px;
    
}

.u19 {
    position:absolute;
    left:218px;
    top:208px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:218px;
    top:247px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:330px;
    top:204px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u22 {
    position:absolute;
    left:330px;
    top:247px;
    width:480px;
    height:200px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u23 {
    position:absolute;
    left:553px;
    top:204px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u24 {
    position:absolute;
    left:554px;
    top:500px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u25 {
    position:absolute;
    left:470px;
    top:63px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#338BB8;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u26 {
    position:absolute;
    left:570px;
    top:63px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#338BB8;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u27 {
    position:absolute;
    left:670px;
    top:63px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#338BB8;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u28 {
    position:absolute;
    left:370px;
    top:63px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#338BB8;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u29 {
    position:absolute;
    left:870px;
    top:63px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#338BB8;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u30 {
    position:absolute;
    left:770px;
    top:63px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#338BB8;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

