body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Source_Manager_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:204px;
    top:126px;
    width:797px;
    height:550px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:803px;
    height:556px;
}

.u1 {
    position:absolute;
    left:2px;
    top:267px;
    width:793px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Source_Manager_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:8px;
    top:3px;
    width:993px;
    height:100px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:999px;
    height:106px;
}

.u3 {
    position:absolute;
    left:2px;
    top:39px;
    width:989px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Source_Manager_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:8px;
    top:126px;
    width:180px;
    height:550px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:556px;
}

.u5 {
    position:absolute;
    left:2px;
    top:267px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_line {
    background-image: url('../Source_Manager_files/u6_line.png');
}

.u6_line {
    position:absolute;
    left:0px;
    top:4px;
    width:993px;
    height:3px;
}

.u6 {
    position:absolute;
    left:8px;
    top:116px;
    width:993px;
    height:10px;
    
}

.u7 {
    position:absolute;
    left:14px;
    top:138px;
    width:166px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#338BB8;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u8_line {
    background-image: url('../Source_Manager_files/u8_line.png');
}

.u8_line {
    position:absolute;
    left:0px;
    top:4px;
    width:797px;
    height:3px;
}

.u8 {
    position:absolute;
    left:204px;
    top:153px;
    width:797px;
    height:10px;
    
}

.u9 {
    position:absolute;
    left:207px;
    top:129px;
    width:257px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#338BB8;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u10_normal {
    background-image: url('../Source_Manager_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:207px;
    top:173px;
    width:786px;
    height:40px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:792px;
    height:46px;
}

.u11 {
    position:absolute;
    left:2px;
    top:12px;
    width:782px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:271px;
    top:185px;
    width:486px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:838px;
    top:180px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#338BB8;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u14_container {
    position:absolute;
    left:219px;
    top:185px;
    width:16px;
    height:16px;
}

#u14_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u15 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../Source_Manager_files/u10_normal.png');
}

.u16_container {
    position:absolute;
    left:207px;
    top:235px;
    width:786px;
    height:40px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:792px;
    height:46px;
}

.u17 {
    position:absolute;
    left:2px;
    top:12px;
    width:782px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:271px;
    top:247px;
    width:486px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:838px;
    top:242px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#338BB8;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u20_container {
    position:absolute;
    left:219px;
    top:247px;
    width:16px;
    height:16px;
}

#u20_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u21 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../Source_Manager_files/u10_normal.png');
}

.u22_container {
    position:absolute;
    left:207px;
    top:285px;
    width:786px;
    height:40px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:792px;
    height:46px;
}

.u23 {
    position:absolute;
    left:2px;
    top:12px;
    width:782px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:271px;
    top:297px;
    width:486px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:838px;
    top:292px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#338BB8;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u26_container {
    position:absolute;
    left:219px;
    top:297px;
    width:16px;
    height:16px;
}

#u26_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u27 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../Source_Manager_files/u10_normal.png');
}

.u28_container {
    position:absolute;
    left:207px;
    top:345px;
    width:786px;
    height:40px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:792px;
    height:46px;
}

.u29 {
    position:absolute;
    left:2px;
    top:12px;
    width:782px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:271px;
    top:357px;
    width:486px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:838px;
    top:352px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#338BB8;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u32_container {
    position:absolute;
    left:219px;
    top:357px;
    width:16px;
    height:16px;
}

#u32_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u33 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../Source_Manager_files/u10_normal.png');
}

.u34_container {
    position:absolute;
    left:207px;
    top:408px;
    width:786px;
    height:40px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:792px;
    height:46px;
}

.u35 {
    position:absolute;
    left:2px;
    top:12px;
    width:782px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:271px;
    top:420px;
    width:486px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:838px;
    top:415px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#338BB8;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u38_container {
    position:absolute;
    left:219px;
    top:420px;
    width:16px;
    height:16px;
}

#u38_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u39 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:346px;
    top:510px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#338BB8;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u41 {
    position:absolute;
    left:464px;
    top:510px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#338BB8;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u42 {
    position:absolute;
    left:582px;
    top:510px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#338BB8;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u43_normal {
    background-image: url('../Source_Manager_files/u43_normal.png');
}

.u43_container {
    position:absolute;
    left:908px;
    top:31px;
    width:16px;
    height:16px;
}

#u43_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u44 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:933px;
    top:31px;
    width:68px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../Source_Manager_files/u46_normal.png');
}

.u46_container {
    position:absolute;
    left:696px;
    top:31px;
    width:16px;
    height:16px;
}

#u46_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u47 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../Source_Manager_files/u48_normal.png');
}

.u48_container {
    position:absolute;
    left:812px;
    top:31px;
    width:16px;
    height:16px;
}

#u48_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u49 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:838px;
    top:31px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:722px;
    top:31px;
    width:88px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:470px;
    top:63px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#338BB8;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u53 {
    position:absolute;
    left:570px;
    top:63px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#338BB8;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u54 {
    position:absolute;
    left:670px;
    top:63px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#338BB8;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u55 {
    position:absolute;
    left:370px;
    top:63px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#338BB8;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u56 {
    position:absolute;
    left:870px;
    top:63px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#338BB8;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u57 {
    position:absolute;
    left:770px;
    top:63px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#338BB8;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

