body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Config_Manager_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:205px;
    top:126px;
    width:797px;
    height:550px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:803px;
    height:556px;
}

.u1 {
    position:absolute;
    left:2px;
    top:267px;
    width:793px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Config_Manager_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:8px;
    top:3px;
    width:993px;
    height:100px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:999px;
    height:106px;
}

.u3 {
    position:absolute;
    left:2px;
    top:39px;
    width:989px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Config_Manager_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:8px;
    top:126px;
    width:180px;
    height:550px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:556px;
}

.u5 {
    position:absolute;
    left:2px;
    top:267px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_line {
    background-image: url('../Config_Manager_files/u6_line.png');
}

.u6_line {
    position:absolute;
    left:0px;
    top:4px;
    width:993px;
    height:3px;
}

.u6 {
    position:absolute;
    left:8px;
    top:116px;
    width:993px;
    height:10px;
    
}

.u7 {
    position:absolute;
    left:14px;
    top:138px;
    width:166px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#338BB8;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u8_normal {
    background-image: url('../Config_Manager_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:908px;
    top:31px;
    width:16px;
    height:16px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u9 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:933px;
    top:31px;
    width:68px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../Config_Manager_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:696px;
    top:31px;
    width:16px;
    height:16px;
}

#u11_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u12 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../Config_Manager_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:812px;
    top:31px;
    width:16px;
    height:16px;
}

#u13_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u14 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:838px;
    top:31px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:722px;
    top:31px;
    width:88px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:218px;
    top:142px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:218px;
    top:178px;
    width:452px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u19_normal {
    background-image: url('../Config_Manager_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:679px;
    top:182px;
    width:16px;
    height:16px;
}

#u19_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u20 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:218px;
    top:230px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:218px;
    top:281px;
    width:477px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:218px;
    top:317px;
    width:477px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:218px;
    top:354px;
    width:477px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:218px;
    top:393px;
    width:477px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:218px;
    top:433px;
    width:477px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:218px;
    top:475px;
    width:477px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:218px;
    top:512px;
    width:477px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_container {
    position:absolute;
    left:679px;
    top:281px;
    width:16px;
    height:16px;
}

#u29_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u30 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_container {
    position:absolute;
    left:679px;
    top:317px;
    width:16px;
    height:16px;
}

#u31_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u32 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_container {
    position:absolute;
    left:679px;
    top:354px;
    width:16px;
    height:16px;
}

#u33_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u34 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_container {
    position:absolute;
    left:679px;
    top:393px;
    width:16px;
    height:16px;
}

#u35_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u36 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_container {
    position:absolute;
    left:679px;
    top:433px;
    width:16px;
    height:16px;
}

#u37_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u38 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_container {
    position:absolute;
    left:679px;
    top:475px;
    width:16px;
    height:16px;
}

#u39_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u40 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_container {
    position:absolute;
    left:679px;
    top:512px;
    width:16px;
    height:16px;
}

#u41_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u42 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:728px;
    top:178px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u44 {
    position:absolute;
    left:728px;
    top:276px;
    width:55px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u45 {
    position:absolute;
    left:728px;
    top:350px;
    width:55px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u46 {
    position:absolute;
    left:728px;
    top:428px;
    width:55px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u47 {
    position:absolute;
    left:728px;
    top:508px;
    width:55px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u48 {
    position:absolute;
    left:728px;
    top:470px;
    width:55px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u49 {
    position:absolute;
    left:728px;
    top:391px;
    width:55px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u50 {
    position:absolute;
    left:728px;
    top:315px;
    width:55px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u51 {
    position:absolute;
    left:470px;
    top:63px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#338BB8;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u52 {
    position:absolute;
    left:570px;
    top:63px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#338BB8;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u53 {
    position:absolute;
    left:670px;
    top:63px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#338BB8;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u54 {
    position:absolute;
    left:370px;
    top:63px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#338BB8;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u55 {
    position:absolute;
    left:870px;
    top:63px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#338BB8;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u56 {
    position:absolute;
    left:770px;
    top:63px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#338BB8;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

