body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Algorithm_Manager_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:204px;
    top:126px;
    width:797px;
    height:550px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:803px;
    height:556px;
}

.u1 {
    position:absolute;
    left:2px;
    top:267px;
    width:793px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Algorithm_Manager_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:8px;
    top:3px;
    width:993px;
    height:100px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:999px;
    height:106px;
}

.u3 {
    position:absolute;
    left:2px;
    top:39px;
    width:989px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Algorithm_Manager_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:8px;
    top:126px;
    width:180px;
    height:550px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:556px;
}

.u5 {
    position:absolute;
    left:2px;
    top:267px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_line {
    background-image: url('../Algorithm_Manager_files/u6_line.png');
}

.u6_line {
    position:absolute;
    left:0px;
    top:4px;
    width:993px;
    height:3px;
}

.u6 {
    position:absolute;
    left:8px;
    top:116px;
    width:993px;
    height:10px;
    
}

.u7 {
    position:absolute;
    left:14px;
    top:138px;
    width:166px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#338BB8;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u8 {
    position:absolute;
    left:213px;
    top:142px;
    width:68px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:291px;
    top:138px;
    width:150px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u10 {
    position:absolute;
    left:457px;
    top:142px;
    width:68px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:535px;
    top:138px;
    width:150px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u12 {
    position:absolute;
    left:730px;
    top:138px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u13 {
    position:absolute;
    left:851px;
    top:138px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u14 {
    position:absolute;
    left:213px;
    top:185px;
    width:633px;
    height:137px
}

.u15_normal {
    background-image: url('../Algorithm_Manager_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:0px;
    top:0px;
    width:145px;
    height:20px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:26px;
}

.u16 {
    position:absolute;
    left:2px;
    top:2px;
    width:141px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../Algorithm_Manager_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:145px;
    top:0px;
    width:156px;
    height:20px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:162px;
    height:26px;
}

.u18 {
    position:absolute;
    left:2px;
    top:2px;
    width:152px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../Algorithm_Manager_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:301px;
    top:0px;
    width:157px;
    height:20px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:163px;
    height:26px;
}

.u20 {
    position:absolute;
    left:2px;
    top:2px;
    width:153px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../Algorithm_Manager_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:458px;
    top:0px;
    width:170px;
    height:20px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:176px;
    height:26px;
}

.u22 {
    position:absolute;
    left:2px;
    top:2px;
    width:166px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../Algorithm_Manager_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:0px;
    top:20px;
    width:145px;
    height:32px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:38px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:141px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../Algorithm_Manager_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:145px;
    top:20px;
    width:156px;
    height:32px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:162px;
    height:38px;
}

.u26 {
    position:absolute;
    left:2px;
    top:2px;
    width:152px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../Algorithm_Manager_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:301px;
    top:20px;
    width:157px;
    height:32px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:163px;
    height:38px;
}

.u28 {
    position:absolute;
    left:2px;
    top:2px;
    width:153px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../Algorithm_Manager_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:458px;
    top:20px;
    width:170px;
    height:32px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:176px;
    height:38px;
}

.u30 {
    position:absolute;
    left:2px;
    top:2px;
    width:166px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../Algorithm_Manager_files/u15_normal.png');
}

.u31_container {
    position:absolute;
    left:0px;
    top:52px;
    width:145px;
    height:20px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:26px;
}

.u32 {
    position:absolute;
    left:2px;
    top:2px;
    width:141px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../Algorithm_Manager_files/u17_normal.png');
}

.u33_container {
    position:absolute;
    left:145px;
    top:52px;
    width:156px;
    height:20px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:162px;
    height:26px;
}

.u34 {
    position:absolute;
    left:2px;
    top:2px;
    width:152px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../Algorithm_Manager_files/u19_normal.png');
}

.u35_container {
    position:absolute;
    left:301px;
    top:52px;
    width:157px;
    height:20px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:163px;
    height:26px;
}

.u36 {
    position:absolute;
    left:2px;
    top:2px;
    width:153px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../Algorithm_Manager_files/u21_normal.png');
}

.u37_container {
    position:absolute;
    left:458px;
    top:52px;
    width:170px;
    height:20px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:176px;
    height:26px;
}

.u38 {
    position:absolute;
    left:2px;
    top:2px;
    width:166px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../Algorithm_Manager_files/u15_normal.png');
}

.u39_container {
    position:absolute;
    left:0px;
    top:72px;
    width:145px;
    height:20px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:26px;
}

.u40 {
    position:absolute;
    left:2px;
    top:2px;
    width:141px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../Algorithm_Manager_files/u17_normal.png');
}

.u41_container {
    position:absolute;
    left:145px;
    top:72px;
    width:156px;
    height:20px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:162px;
    height:26px;
}

.u42 {
    position:absolute;
    left:2px;
    top:2px;
    width:152px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../Algorithm_Manager_files/u19_normal.png');
}

.u43_container {
    position:absolute;
    left:301px;
    top:72px;
    width:157px;
    height:20px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:163px;
    height:26px;
}

.u44 {
    position:absolute;
    left:2px;
    top:2px;
    width:153px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../Algorithm_Manager_files/u21_normal.png');
}

.u45_container {
    position:absolute;
    left:458px;
    top:72px;
    width:170px;
    height:20px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:176px;
    height:26px;
}

.u46 {
    position:absolute;
    left:2px;
    top:2px;
    width:166px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../Algorithm_Manager_files/u15_normal.png');
}

.u47_container {
    position:absolute;
    left:0px;
    top:92px;
    width:145px;
    height:20px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:26px;
}

.u48 {
    position:absolute;
    left:2px;
    top:2px;
    width:141px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../Algorithm_Manager_files/u17_normal.png');
}

.u49_container {
    position:absolute;
    left:145px;
    top:92px;
    width:156px;
    height:20px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:162px;
    height:26px;
}

.u50 {
    position:absolute;
    left:2px;
    top:2px;
    width:152px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../Algorithm_Manager_files/u19_normal.png');
}

.u51_container {
    position:absolute;
    left:301px;
    top:92px;
    width:157px;
    height:20px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:163px;
    height:26px;
}

.u52 {
    position:absolute;
    left:2px;
    top:2px;
    width:153px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../Algorithm_Manager_files/u21_normal.png');
}

.u53_container {
    position:absolute;
    left:458px;
    top:92px;
    width:170px;
    height:20px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:176px;
    height:26px;
}

.u54 {
    position:absolute;
    left:2px;
    top:2px;
    width:166px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../Algorithm_Manager_files/u15_normal.png');
}

.u55_container {
    position:absolute;
    left:0px;
    top:112px;
    width:145px;
    height:20px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:26px;
}

.u56 {
    position:absolute;
    left:2px;
    top:2px;
    width:141px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../Algorithm_Manager_files/u17_normal.png');
}

.u57_container {
    position:absolute;
    left:145px;
    top:112px;
    width:156px;
    height:20px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:162px;
    height:26px;
}

.u58 {
    position:absolute;
    left:2px;
    top:2px;
    width:152px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../Algorithm_Manager_files/u19_normal.png');
}

.u59_container {
    position:absolute;
    left:301px;
    top:112px;
    width:157px;
    height:20px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:163px;
    height:26px;
}

.u60 {
    position:absolute;
    left:2px;
    top:2px;
    width:153px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../Algorithm_Manager_files/u21_normal.png');
}

.u61_container {
    position:absolute;
    left:458px;
    top:112px;
    width:170px;
    height:20px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:176px;
    height:26px;
}

.u62 {
    position:absolute;
    left:2px;
    top:2px;
    width:166px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:679px;
    top:208px;
    width:74px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u64 {
    position:absolute;
    left:761px;
    top:208px;
    width:74px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u65_normal {
    background-image: url('../Algorithm_Manager_files/u65_normal.png');
}

.u65_container {
    position:absolute;
    left:908px;
    top:31px;
    width:16px;
    height:16px;
}

#u65_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u66 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:933px;
    top:31px;
    width:68px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_normal {
    background-image: url('../Algorithm_Manager_files/u68_normal.png');
}

.u68_container {
    position:absolute;
    left:696px;
    top:31px;
    width:16px;
    height:16px;
}

#u68_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u69 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_normal {
    background-image: url('../Algorithm_Manager_files/u70_normal.png');
}

.u70_container {
    position:absolute;
    left:812px;
    top:31px;
    width:16px;
    height:16px;
}

#u70_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u71 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:838px;
    top:31px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:722px;
    top:31px;
    width:88px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:470px;
    top:63px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#338BB8;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u75 {
    position:absolute;
    left:570px;
    top:63px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#338BB8;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u76 {
    position:absolute;
    left:670px;
    top:63px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#338BB8;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u77 {
    position:absolute;
    left:370px;
    top:63px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#338BB8;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u78 {
    position:absolute;
    left:870px;
    top:63px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#338BB8;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u79 {
    position:absolute;
    left:770px;
    top:63px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#338BB8;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

